.animate{
   
    animation-name: harsh;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  
 
}
@keyframes harsh {
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}