.animate{
   
    animation-name: harsh;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  
 
}
@keyframes harsh {
    from{transform: translateX(0%);}
    to{transform: translateX(-75%);}
}